
html, body,#root, .App {
  height: 100vh;
  /* background-color: rgb(243 244 246); */
}

/*



.App {
  display: flex;
}


.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  background: #fff6bf;
  width: 10%;

}

.nav-bar button{
  margin-left: 30px;
  cursor: pointer;
  margin-top: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  margin-top: 30px;
}


.createHabit {
  margin-left: 20px;
}

.createHabit input {
  display: block;
  margin: 5px;
}

.createHabit #desc {
  width: 400px;
}

.createHabit button {
  margin-top: 10px;
}



nav {
  align-self: center;
  display: flex;
  flex-direction: column;
}


.habitsScreen {
  background-color: #F5F5F5;
  display:flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.habitTable {
  display: flex;

}

.habitsScreen h1 {
} */